body {
  color: #222;
  letter-spacing: 1px; }

::-moz-selection {
  color: #FF6347;
  background: #888; }

::selection {
  color: #FF6347;
  background: #888; }

html {
  scrollbar-face-color: #33b5e5; }

a {
  color: #FF6347; }

p {
  color: #888; }

.color_element {
  color: #FF6347; }

.color_bg {
  background-color: #FF6347; }

.color_border {
  border-color: #FF6347; }

.bg_light {
  background-color: #FAFAFA; }

.bg_dark {
  background-color: #222;
  color: #fff; }

.toggle_menu {
  background-color: #222; }

.top_menu a:hover {
  color: #FF6347;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out; }

section hr {
  background-color: #888;
  color: #888; }

section.s_portfolio .mix_filter_controls ul li {
  color: #888; }
  section.s_portfolio .mix_filter_controls ul li.active {
    color: #FF6347; }
section.s_portfolio .portfolio_item .port_item_cont h3 {
  color: #fff; }
section.s_portfolio .portfolio_item .port_item_cont p {
  color: #fff; }
section.s_portfolio .portfolio_item .port_item_cont a {
  background-color: transparent;
  color: #FF6347;
  border: 2px solid #FF6347;
  padding: 5px; }

.port_descr p {
  color: #fff; }
.port_descr button.mfp-close {
  color: #fff; }

section.s_contact form.form {
  color: #888; }
  section.s_contact form.form .form-group label {
    color: #FF6347; }
  section.s_contact form.form .form-group input:focus,
  section.s_contact form.form .form-group textarea:focus,
  section.s_contact form.form .form-group input:hover,
  section.s_contact form.form .form-group textarea:hover,
  section.s_contact form.form .form-group input:active,
  section.s_contact form.form .form-group textarea:active {
    border: 1px solid #FF6347;
    -webkit-transition: all 0.9s;
            transition: all 0.9s; }
  section.s_contact form.form .form-group #inputEmail-error,
  section.s_contact form.form .form-group #inputName-error,
  section.s_contact form.form .form-group #textarea-error {
    color: red;
    text-align: right; }
  section.s_contact form.form .form-group .valid {
    background-color: #daf4e5; }
  section.s_contact form.form button {
    background-color: #FF6347; }

footer.main_footer p {
  color: #888; }
footer.main_footer .social_wrap ul,
footer.main_footer .social_wrap li {
  color: #FF6347; }
